
:root {
    --text-color: white;
    --bg-color: #141218;
}

.red{
    color: red;
}

.black-background{
    background-color: black;
}


* {
    box-sizing: border-box;
}

.fa1{

    display: inline-block;
    font-family: FontAwesome;
    color: whitesmoke;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
}

.fa1:hover{

    display: inline-block;
    font-family: FontAwesome;
    color: black;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
}


 button {
    position: relative;
    padding: 20px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: whitesmoke;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

button:hover {
    position: relative;
    padding: 20px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: #dab016;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.small button {
    position: relative;
    padding: 40px 40px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: whitesmoke;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}


.login button:hover {
    position: relative;
    padding: 20px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: black;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.homepage button {
    position: relative;
    padding: 60px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: whitesmoke;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.homepage button:hover {
    position: relative;
    padding: 60px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: black;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.logout button:hover {
    position: relative;
    padding: 20px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
    color: red;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;

    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.size {
    font-size: 25px;

}

button:focus {
    outline-color: transparent;
}


.right::after, button::after {
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events: none;
}

button::after {
    font-weight: 200;
    top: -30px;
    left: -20px;
}

.right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.right {
    left: 66%;
}

.left {
    right: 66%;
}

.right::after {
    top: -30px;
    left: calc(-66% - 20px);

    background-color: var(--bg-color);
    color: transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
}

button .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);


    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 7s linear infinite both;
}

.rightbox {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
}

@keyframes bubbles {
    from {
        transform: translate();
    }
    to {
        transform: translate(0, -66.666%);
    }
}