<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="www.thymeleaf.org
www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <h1>Beers List</h1>
    <p th:text="${message}"></p>
    <ul>
        <li th:each="beer: ${beers}">
            <a th:href=" @{'/allbeers/' + ${beer.getId()}}" th:text="${beer.name}"> </a>
        </li>
    </ul>
</header>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>