<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>-->
    <title>Add New Beer</title>
    <style>
        .table {
            display:table;
        }
        .header {
            display:table-header-group;
            font-weight:bold;
        }
        .rowGroup {
            display:table-row-group;
        }
        .row {
            display:table-row;
        }
        .cell {
            display:table-cell;
            width:25%;
        }
        .error {
            color: red;
        }

    </style>
</head>
<body>

<form action="#" th:action="@{/beers/new}" th:object="${beer}" method="post">
    <label th:text="#{beers.header.name}">Beer</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}" />
    <br/><br/>
    <label th:text="#{beers.header.abv}">ABV</label>
    <br/>
    <input type="text" th:field="*{abvTag}"/>
    <label class="error" th:errors="*{abvTag}" />
    <br/><br/>


    <br/><br/>
    <label th:text="#{beers.header.style}">Style</label>
    <select th:field="*{styleId}">
        <option th:each="style : ${styles}"
                th:value="${style.id}"
                th:text="${style.getName()}">BeerStyleOne</option>
    </select>


    <input type="submit" value="Save"/>
</form>


</body>
</html>
