<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BEERTAG</title>

    <!-- Bootstrap core CSS -->
    <!--    <link href="css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">

    <!-- Add custom CSS here -->
    <!--    <link href="css/stylish-portfolio.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/stylish-portfolio.css}" href="../static/css/stylish-portfolio.css">

    <!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"
          href="../static/font-awesome/css/font-awesome.min.css">

    <!--Mirenda font-->
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{Buttons.css}"
          href="../static/Buttons.css">

</head>

<body>

<!-- Side Menu -->

<!--<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i-->
<!--        class="fa fa-bars"></i></a>-->
<div id="sidebar-wrapper">

    <a id="menu-toggle" href="#" class="btn "><i class="fa1 fa-bars"></i></a>
    <form style="display: inline-block" th:action="@{/beers}">
        <button type="submit">
            <div class="left"></div>
            Beers
            <div class="right"></div>
        </button>
    </form>
    <form sec:authorize="isAuthenticated()" style="display: inline-block"
          th:action="@{/account/{username}(username=${user.username})}">
        <button type="submit">
            <div class="left"></div>
            Account Settings
            <div class="right"></div>
        </button>
    </form>
    <form sec:authorize="isAuthenticated()" style="display: inline-block" th:action="@{/wishlist}">
        <button type="submit">
            <div class="left"></div>
            Wish List
            <div class="right"></div>
        </button>
    </form>
    <form sec:authorize="isAuthenticated()" style="display: inline-block" th:action="@{/dranklist}">
        <button type="submit">
            <div class="left"></div>
            Drank List
            <div class="right"></div>
        </button>
    </form>
    <form class="logout" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
        <button type="submit" value="logout">
            <div class="left"></div>
            Log Out
            <div class="right"></div>
        </button>
    </form>
</div>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="header">
    </div>

    <div class="vert-text1">

        <h1>BEERTAG</h1>
        <h3>
            Welcome to the World of Beer,
            You Taste,
            You Rate</h3>

        <form style="display: inline-block" class="login" sec:authorize="!isAuthenticated()" th:action="@{/login}">
            <button class="size" type="submit">
                <div class="left"></div>
                Log In
                <div class="right"></div>
            </button>
        </form>
        <form style="display: inline-block" class="login" sec:authorize="!isAuthenticated()" th:action="@{/register}">
            <button class="size" type="submit">
                <div class="left"></div>
                Sign up
                <div class="right"></div>
            </button>
        </form>
    </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="about" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>CHECK IN AND RATE BEER</h2>
                <p class="lead">Keep track of what you have tried and what you thought of it by checking in a beer and
                    rating it. Expand your palate by trying new & different beer styles</p>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>Explore Beers By</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-thumbs-o-up"></i>
                    <h3>Ratings</h3>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-beer"></i>
                    <h3>Styles</h3>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-shield"></i>
                    <h3>Breweries</h3>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-flag"></i>
                    <h3>Countries</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">

</div>
<!-- /Callout -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">

                <h2><strong>Created by:</strong> Star&Tup ! Team 20 Telerik !</h2>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
