<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--    <link href="css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css">

    <!-- Add custom CSS here -->
    <!--    <link href="css/stylish-portfolio.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{css/stylish-portfolio.css}" href="../static/css/stylish-portfolio.css">

    <!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{font-awesome/css/font-awesome.min.css}"
          href="../static/font-awesome/css/font-awesome.min.css">

    <!--Mirenda font-->
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

</head>

<body>

<!-- Side Menu -->

<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">

    <ul class="sidebar-nav">

        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

        <li class="sidebar-brand"><a href="http://startbootstrap.com">Start Bootstrap</a>
        </li>
        <li><a href="#top">Home</a>
        </li>
        <li><a href="#about">About</a>
        </li>
        <li><a href="#services">Services</a>
        </li>
        <li><a href="#portfolio">Portfolio</a>
        </li>
        <li><a href="#contact">Contact</a>
        </li>
    </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">

    <form class="btn btn-default btn-lg" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
        <input type="submit" value="Logout"/>
    </form>


    <h5 style="color: navajowhite">Hello </h5>
    <p style="color: navajowhite" sec:authentication="name">


        <div class="vert-text">
            <h1>BEERTAG</h1>
            <h3>
                Welcome to the World of Beer,
                You Taste,
                You Rate</h3>
            <!--            <a href="#about" class="btn btn-default btn-lg">Jump in!</a>-->
    <p>
        <i th:if="${param.logout}">You have been logged out.</i>
    </p>
    <a th:href="@{/login}" class="btn btn-default btn-lg" sec:authorize="!isAuthenticated()"
    >Login</a>
    <a th:href="@{/register}" class="btn btn-default btn-lg" sec:authorize="!isAuthenticated()"
    >Register</a>

</div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="about" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>CHECK IN AND RATE BEER</h2>
                <p class="lead">Keep track of what you have tried and what you thought of it by checking in a beer and
                    rating it. Expand your palate by trying new & different beer styles</p>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>Explore Beers By</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-thumbs-o-up"></i>
                    <h3>Ratings</h3>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-beer"></i>
                    <h3>Styles</h3>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-shield"></i>
                    <h3>Breweries</h3>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-flag"></i>
                    <h3>Countries</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">

</div>
<!-- /Callout -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <ul class="list-inline">
                    <li><i class="fa fa-facebook fa-3x"></i>
                    </li>
                    <li><i class="fa fa-twitter fa-3x"></i>
                    </li>
                    <li><i class="fa fa-dribbble fa-3x"></i>
                    </li>
                </ul>
                <div class="top-scroll">
                    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                </div>
                <hr>
                <p>Copyright &copy; Team 20</p>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
