<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new beer</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../detailedsearch.css" th:src="@{detailedsearch.css}"/>
</head>
<body>
<div class="s009">
    <form name="form1" action="#" th:action="@{/beers/create}" th:object="${parametres}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="beername">Beer name</label>

            <input name="beername"  th:field="*{nameParam}" oninvalid="InvalidMsg(this);"
                   oninput="InvalidMsg(this);" class="form-control" id="beername" aria-describedby="emailHelp" placeholder="Enter beer name" minlength=2 maxlength=62 required/>
<!--            <label th:if="${#fields.hasErrors('nameParam')}" th:errors="*{nameParam}">Name Error</label>-->

            <!--            <label style="color: red" th:errors="*{nameParam}" th:text="#{home.welcome}"></label>-->
            <small id="beerNameHelp" class="form-text text-muted">Name should be between 2 and 62 characters long.</small>
        </div>
        <div class="form-group">
            <label for="abv">ABV</label>
            <input th:field="*{abvParam}" class="form-control" id="abv" aria-describedby="emailHelp" placeholder="Enter beer name">
            <small id="abvHelp" class="form-text text-muted">Unlike hard liquor, beers aren't measured by proof, but most commonly by alcohol by volume.</small>
        </div>
        <div class="form-group">
            <label for="styleName">Style</label>
            <select th:field="*{styleParamId}" class="form-control" id="styleName">
                <option th:each="style : ${styles}"
                        th:value="${style.id}"
                        th:text="${style.getName()}">1</option>
            </select>
            <small id="styleHelp" class="form-text text-muted">Please select one of the listed styles or contact our administrator if you don't find it.</small>
        </div>
        <div class="form-group">
            <label for="breweryName">Brewery</label>
            <select th:field="*{breweryParamId}" class="form-control" id="breweryName">
                <option th:each="brewery : ${breweries}"
                        th:value="${brewery.id}"
                        th:text="${brewery.getName()}">1</option>
            </select>
            <small id="breweryHelp" class="form-text text-muted">Brewing companies range widely in the volume and variety of beer produced, ranging from small breweries, such as Ringwood Brewery, to massive multinational conglomerates.</small>
        </div>
        <div class="form-group">
            <label for="countryName">Country</label>
            <select th:field="*{countryParamId}" class="form-control" id="countryName">
                <option th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:text="${country.getName()}">1</option>
            </select>
            <small id="countryHelp" class="form-text text-muted">Where was it made?</small>
        </div>

        <label>
            <input type="file" name ="file" class="form-control-file" id="exampleFormControlFile1"/>
            <input type="hidden" name ="MAX_FILE_SIZE" value="2000000"/>
        </label>

        <br>

        <label for="exampleFormControlTextarea1">Please describe the beer:</label>
        <textarea th:field="*{descriptionParam}" class="form-control" id="exampleFormControlTextarea1" rows="3" minlength="10" required></textarea>
        <br>

        <button name="create-button" id="create-button" type="submit" value="Save" class="size">Create</button>

    </form>

</div>
</body>
</html>